@font-face {
  font-family: sequel;
  src: url(./fonts/sequel-100-black-65.ttf);
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
:root{
  --primary : #E1D5CD;
  --secondary : #352C2D;
}
body{
  background-color: var(--primary);
  font-family: sequel;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  
}
html{
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--secondary);
  scroll-behavior: smooth;
  
  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

.home{
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
}
.navbar{
  width: 100%;
  height: 10vh;
  display: flex;
}
.navbarLeft{
  width: 40%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  font-size: 1.5vw;
}
.navbarLeft a{
  text-decoration: none;
}
.navbarRight{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.navbarRight a{
  text-decoration: none;
}
.navOpenBtn{
  display: none; 
  font-size: 2rem;
  background-color: transparent;
  border: none;
}
.homeMiddle{
  height: 80vh;
  display: flex;
  
}
.homeMiddleLeft{
  height: 100%;
  width: 60%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.homeMiddleLeft h1{
  overflow: hidden;
  animation-name: reveal  ;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  font-size: 6vw;
}
.homeMiddleLeft p{
  font-size: 3vw;
  animation-name: reveal  ;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  white-space: nowrap;
  overflow: hidden;
}
.homeMiddleRight{
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner{
  height: 30vw;
  width: 30vw;
  animation: rotateSpinner 10s linear infinite  ;
  position: relative;
  top: -100vh;
  left: 60vw;
}
.spinner2{
  height: 40vw;
  width: 40vw;
  animation: rotateSpinner 10s linear infinite  ;
  display: none;
}


@keyframes reveal {
  0%{
    width: 0;
  }
  100%{
    width: 60vw;
  }
}
@keyframes rotateSpinner {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.role{
  position: fixed;
  display: flex;
  align-items: center;
  width: 60vw;
  height: 10vw;
}
.about{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.spinnerBtn{
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.aboutLeft{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutInner{
  width: 60vw;
  padding: 2rem;
}

.skills{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 2500px;
}
.skillsInner{
  width: 70vw;
  border: 2px solid var(--secondary);
  padding: 1rem;
  transform: rotate3d(1, 0, 0, 90deg);
  transition: all 1s ease-in-out;
  
}
.skillsInner h1,.projectsInner h1{
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--secondary);
}
.skillContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skillDiv{
  width: 10rem;
  border: 2px solid var(--secondary);
  padding: 0.5rem 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skillsInner p{
  text-align: center;
  padding: 1rem;
}
/* project page css starts  */
.projects{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectsInner{
  width: 80vw;
  border: 2px solid var(--secondary);
  padding: 1rem;
}
.projectContainer{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5%;
  transition: 0.5s ease-in-out;
  transform: translateY(10rem);
  opacity: 0;
}



/* project page css ends */
/* projectCard css starts  */
.projectCard{
  width: 30%;
  border: 2px solid var(--secondary);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  margin-top: 1rem;
  animation-duration: 1s;
}
.projectCardDown{
  transform: translateY(5rem);
}
.projectCard p{
  font-size: 0.8rem;
}
.projectThumbnail{
  width: 100%;
  height: 10rem;
}
.projectThumbnail img{
  width: 100%;
  height: 100%;
}
.projectCard h2{
  font-size: 1.5rem;
  width: 100%;
  margin: 1rem 0;
}
.projectButtons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.projectButtons a{
  cursor: pointer;
  text-decoration: none;
}
.btn{
  width: 48%;
  padding: 0.7rem 1rem;
  background-color: var(--primary);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  font-family: sequel;
  border-radius: 1rem 0 0 0;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.btn-inverted{
  width: 48%;
  padding: 0.7rem 1rem;
  background-color: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--secondary);
  font-family: sequel;
  border-radius: 0 0 1rem 0;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.btn-inverted:hover{
  transform: scale(1.1);
}
.btn:hover{
  transform: scale(1.1);
}
.projectCardSlide{
  opacity: 1;
  transform: translateY(0);
}

/* projectCard css ends */
/* contact page css starts  */
.contact{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactInner{
  width: 40vw;
  padding: 1rem;
  z-index: 1;
  transform: translateX(20vw);
  transition: 0.5s ease-in-out;
}
.contactInner h1{
  margin-bottom: 1rem;
}
.contactContainer{
  height: 28rem;
  width: 28rem;
  border: 2px solid var(--secondary);
  display: flex;
  flex-wrap: wrap;
}
.social{
  height: 50%;
  width: 50%;
  border: 2px solid var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: var(--primary);
}
.social:hover{
  background-color: var(--secondary);
}
.social:hover i{
  color: var(--primary)
} 
.contactRight{
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-20vw);
  transition: all 0.5s ease-in-out;
  z-index: -1;

}
.contactPageAnimation{
  transform: translateX(0);
}
/* contact page css ends */

/* responsive navbar css starts  */
.responsiveNav{
  height: 100vh;
  width: 60vw;
  background-color: var(--secondary);
  color: var(--primary);
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: translateX(60vw);
  transition: 0.5s ease-in-out;
}
.responsiveNav a{
  color: var(--primary);
  margin: 1rem;
}
.responsiveNav h2{
  color: var(--primary);
  font-size: 2.5vw;
}
.responsiveNavInner{
  display: flex;
  flex-direction: column;

  height: 50vh;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.5rem;
}
.closeNavBtn{
  position: absolute;
  top: 1rem;
  font-size: 2rem;
  background-color: transparent;
  color: var(--primary);
  border: none;

}
.closeNavBtn i{
  color: var(--primary);
}
/* responsive navbar css ends  */

/* media queries  */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .navbarLeft{
    width: 30%;
  }
  .navbarRight{
    width: 70%;
    font-size: 0.9rem;
  }
  .skillDiv{
    width: 8rem;
    font-size: 0.9rem;
  }
  .projectCard{
    width: 47%;
  }
  .projectsInner{
    width: 90%;
  }
}
@media only screen and (max-width: 992px) {
  .homeMiddle{
    flex-direction: column;
  }
  .homeMiddleLeft{
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .homeMiddleRight{
    width: 100%;
  }
  .aboutLeft{
    display: none;
  }
  .spinner2{
    display: block;
  }
  .aboutInner{
    width: 90%;
  }
  .skillsInner{
    width: 90%;
  }
  .projectsInner{
    width: 95%;
  }
  .contact{
    flex-direction: column-reverse;
  }
  .contactInner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateX(0);
  }
  .contactRight{
    transform: translateX(0);
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .navbarRight a{
    display: none;
  }
  .navOpenBtn{
    display: block;
  }
  .navbarRight{
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
    cursor: pointer;
  }
  .navbarLeft{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .navbarRight a{
    display: none;
  }
  .navOpenBtn{
    display: block;
  }
  .navbarRight{
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
    cursor: pointer;
  }
  .navbarLeft{
    font-size: 0.8rem;
  }
  .aboutInner p{
    font-size: 0.8rem;
    padding: 0;
  }
  .aboutInner{
    width: 100%;
    padding: 1rem;
  }
  .skillDiv{
    font-size: 0.8rem;
    width: 7rem;
  }
  .skillsInner{
    padding: 0;
  }
  .skillsInner h1{
    padding: 1rem;
  }
  .projectCard{
    width: 100%;
  }
  .contact{
    margin: 2rem 0;
  }
  .homeMiddleLeft h1{
    font-size: 2.5rem;
  }
  .homeMiddleLeft p{
    font-size: 1rem;
  }
  .spinner2{
    width: 20rem;
    height: 20rem;
  }
}