body{
  background-color: #111;
}

.home{
  color: white;
  height: 1800vh
}

.laptopContainer{
  height: 100vh;
  width: 100vw;
  /* border: 2px solid red;  */
}
.laptopContainerInner{
  /* border: 2px solid green;  */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.laptop{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: scale(0);  
  position: fixed;
  perspective: 2400px; 
  perspective-origin: 50% 100%;
}
.part {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
  transition: 900ms;
}
.laptopLid{
  width: 40rem;
  height: 1rem;
  background-color: white;
  border-radius: 1rem 1rem 0px 0px;
  position: absolute; 
  top: -0.5rem; 
  z-index: -111;
  transform: rotateX(75deg)
  /* transform: translate3d(0, 0, 0) rotateX(-90deg);  */
  ;
}
.laptopTop{
  height: 30rem;
  width: 40rem;
  border: 2px solid white;
  border-radius: 1rem 1rem 0rem 0rem ;
  align-items: center;
  justify-content: center;
  transform: rotateX(-90deg) scale(1, 1);
  transition: 900ms;
  display: flex;
  position: relative;
  z-index: 500;
  /* transform: scale3d(0,0,2);  */
}
.laptopGlow{
  box-shadow: 5px 5px 50px violet,
  -5px -5px 50px violet;
}
.laptopOpen{
  transform: translate3d(0, 0, 0) rotateX(0deg);
}
.laptopTopInner{
  height: 96%;
  width: 97%;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.7rem 0.8rem 0rem 0rem ;
}
.notch{
  width: 5rem;
  height: 1rem;
  border: 2px solid white;
  position: relative;
  bottom: 2px;
  border-top: 2px solid #111;
  border-radius: 0rem 0rem 5px 5px;
  background-color: #111;
}
.laptopBottom{
  height: 2rem;
  width: 53rem;
  background-color: white;
  border-radius: 5px 5px 1.5rem 1.5rem;
}

.intro{
  font-family: 'Poppins', sans-serif;
font-family: 'Tourney', cursive;
  opacity: 0;
  height: 100%;
  width: 100%;
  /* border: 2px solid red;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 5px;
}
.intro p {
  font-size: 1.5rem;
}
